##################################
#Builds
##################################
compiladorLOOP/build

##################################
#Inputs
##################################
compiladorLOOP/src/inputs/input.txt
