compiladorLOOP/build/
/compiladorLOOP/src/inputs/input.txt
/compiladorLOOP/build/classes/inputs/input.txt
compiladorLOOP/src/inputs/input.txt
compiladorLOOP/build/classes/inputs/input.txt


compiladorLOOP/src/inputs/**

compiladorLOOP/build/classes/inputs/**
